col-md-9 {
    background-image: url("img/bg.jpeg");
    height: 100vh;
}

a {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #818181;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #818181;
}

.card-title {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.btn-primary {
  font-family: "Quicksand", sans-serif;
  color: #000000;
}